.fadeout-up
{
  transform: translateY(-1vh);
  opacity: 0;
}

.fadeout-down
{
  transform: translateY(1vh);
  opacity: 0;
}
.fadeout-left
{
  transform: translateX(-1vw);
  opacity: 0;
}

.fadeout-right
{
  transform: translateX(1vw);
  opacity: 0;
}

.fadein
{
  transition-property: transform, opacity;
  transition-duration: 2000ms;
  transform: translate(0,0);
  opacity: 1.0);
}
