body
{
  padding-top: 90px;
}

/*p
{
  color: #efefef;
}*/

#header
{
  width: 100%;  
  text-align: center;
  transform-origin: top;
}

#header-container
{
  height: 100%;
}

/*.navbar
{
  display: block;
  position: relative;
  height: 100%;
}*/

.navbar
{
  transform-origin: top;  
  /*background-color: #66DAFF;*/
  background-color: #4C4C4C;
  opacity: .95;
}

.original-navbar
{
  height: 90px;
}

.shrunken-navbar
{
  height: 54px;
}

.shrink-navbar
{
  animation-name: shrink-navbar;
  animation-duration: .6s;
}
@keyframes shrink-navbar
{
  100%
  {
    transform: scaleY(.6);
  }
}

.grow-navbar
{
  animation-name: grow-navbar;
  animation-duration: .6s;
}
@keyframes grow-navbar
{
  100%
  {
    transform: scaleY(1 / .6);
  }
}

.shrink-brand
{
  animation-name: shrink-brand;
  animation-duration: .6s;
}
@keyframes shrink-brand
{
  100%
  {
    transform: scale(.4, .65);
  }
}
.grow-brand
{
  animation-name: grow-brand;
  animation-duration: .6s;
}
@keyframes grow-brand
{
  100%
  {
    transform: scale(1 / .4, 1 / .65);
  }
}


.navbar-header, navbar-collapse
{  
  height: 100%;
}

.navbar-collapse.collapse.in, .navbar-collapse.collapsing
{
  background-color: #ffffff;
}

.navbar-header>button
{
  margin-top: 38px;
}

.navbar-nav
{
  margin-top: 38px;
  margin-left: 5vw;
  margin-right: auto;
}

.navbar-brand
{  
  /*width: 100%;*/
  height: 100%;
}
.navbar-brand>img
{
  transform-origin: left;
  max-width: 100%;
  max-height: 100%;
}

#gcs-splash, #gcs-about, #gcs-services, #gcs-portfolio, #gcs-team, #contact-us, #legal
{
  position: relative;
  /*top: 90px;*/
}

#gallery
{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  text-align: center;
}

#gcs-backgrounds
{
  position: fixed;
  top: 0px;
  width: 100%;
  overflow: hidden;
}

#gcs-backgrounds>img
{
  display: block;
  position: relative;
  min-width: 100vw;
  max-height: 100vh;
  margin: auto;
}

#gc-carousel
{
  width: 100%;
  height: 100%;
}

#gc-carousel>.carousel-inner
{
  width: 100%;
  height: 100%;
}

#gc-carousel>.carousel-inner>.item,
#gc-carousel>.carousel-inner>.active
{
  width: 100%;
  height: 100%;
}
.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.fill
{
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.gcs-background
{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .95;
  z-index: 2;
}

#gcs-splash
{
  min-height: 90vh;
  background: rgba(0,0,0,.5);
}

#gcs-splash>.container
{
  min-height: 100%;
}

#gcs-splash .headlines
{
  margin-top: 22%;
}

#gcs-splash #splash-bullets
{
  position: relative;
  top: 33vh;
}

#text-panel
{
  position: relative;
  height: 30vw;
  /*padding: 1vw;*/
}

#text-panel>span
{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 200;
}

#text-panel>span>*
{
  width: 96%;
}

#text-panel>span>img
{
  height: 100%;
}

#contact-us
{
  /*background-image: url('../img/PS_2.png');*/
  /*background: rgba(0,0,0, .6);*/
  background: #272727;
}

#gcs-services .thumbnail
{
  opacity: 0;
}

#gcs-about
{
  /*min-height: 90vh;*/
  /*background-image: url('../img/PS_1.png');  */
  background: rgba(0,0,0,0.5);
  /*background: rgba(141,221,247, .8);*/
}

#gcs-about p
{
  color: #D1D1D1;
}

#gcs-services
{
  min-height: 90vh;
  /*background-image: url('../img/PS_2.png');*/
  /*background-color: #FDAF0F;*/
  background: rgba(251,171,17, 1);
}

#gcs-portfolio
{
  min-height: 90vh;
  /*background-image: url('../img/PS_3.png');*/
  background: #272727;
}
#gcs-portfolio .row>div
{
  padding: 0;
}

#gcs-portfolio .project-panel,
#gcs-team .team-panel
{  
  transform-origin: center;
}

.spin-element
{
  animation-name: spin;
  animation-duration: .7s;
  animation-timing-function: ease;
  /*animation-timing-function: cubic-bezier(.65, 1.95, .03, .32);*/
}

.tiny-size
{
  transform: rotate(0) scale(0,0);
}
/*.full-size
{
  transform: rotate(0) scale(1.0, 1.0);
}*/

@keyframes spin
{
  100%
  {
    transform: rotate(720deg) scale(1.0, 1.0);
  }
  /*100%
  {
    transform: rotate(0deg);
  }*/
}

#gcs-portfolio .project-panel
{
  /*transition: all .5s ease-in-out;*/
  position: relative;
  border: none;
  padding: 0;
  overflow: hidden;
}

#gcs-portfolio .project-panel>.tn-description
{
  transition: all .5s ease-in-out;
  position: absolute;
  top: -100%;
  background: rgba(0,0,0,.6);
  opacity: 1;
  /*z-index: 1;*/
  width: 100%;
  height: 100%;
  /*visibility: hidden;*/
  text-align: center;
  /*transform: scale(0,0);*/
}

#gcs-portfolio .project-panel:hover>.tn-description
{
  top: 0%;
  /*opacity: 1;*/
  /*z-index: 1;*/
  /*visibility: visible;*/
  /*transform: scale(1,1);*/
}

#gcs-portfolio .project-panel>img
{
  transition: all .5s ease-in-out;
  transform-origin: center;
  width: 100%;
  max-height: 100%;
}

#gcs-portfolio .project-panel:hover>img
{
  transform: scale(1.2, 1.2);
  /*z-index: 2;*/
}

#gcs-team
{
  min-height: 90vh;
  /*background-image: url('../img/PS_2.png');*/
  /*background: #D1D1D1;*/
  background: rgba(0,0,0,.6);
}

/*#gcs-team .team-panel
{
  background-color: white;
  border-radius: 30px;
  width: 100%;
  max-height: 100%;
  overflow: hidden;
}*/

/*#gcs-team .team-panel:hover
{
  animation-name: grow;
  animation-duration: .7s;
}*/

.no-size
{
  transform: scale(0, 0);
}

#gcs-team .row
{
  max-height: 30%; 
}

#gcs-team .team-panel h5
{
  transition-property: border;
  transition-duration: .5s;
  border-bottom: 2px solid #BCBCBC;
  padding-bottom: 3px;
  display: inline-flex;
}
#gcs-team .team-panel:hover h5
{
  border-bottom: 2px solid rgba(251,171,17, 1);
}
#gcs-team .team-panel>img
{
  transition-property: border;
  transition-duration: .5s;
  border: 5px solid black;
  border-radius: 50%;
  display: block;
  width: 60%;
  /*float: left;*/
  max-height: 60%;
  overflow: hidden;
}
#gcs-team .team-panel:hover>img
{
  border: 5px solid rgba(251,171,17, 1);
}
#gcs-team .team-panel>span
{
  padding: .5vw;
  width: 100%;
  /*float: left;*/
  height: auto;
}
.grow-element
{
  animation-name: grow;
  animation-duration: .6s;
  animation-timing-function: cubic-bezier(.65, 1.95, .03, .32);
}

@keyframes grow
{
  100%
  {
    transform: scale(1.0, 1.0);
  }
}

#gcs-clients
{
  height: 40vh;
}

.left_translate
{
  transform: translateX(25%);
  transition-duration: 1000ms;
}

.right_translate
{
  transform: translateX(-25%);
  transition-duration: 1000ms;
}

.middle_translate
{
  transform: translateX(0);
  transition-duration: 0;
}

.legal
{
  background: rgba(0,0,0,.9);
}