/*.carousel-container
{
  position: absolute;
  width: 60vw;
  height: 10vw;
  left: 0;
  right: 0;
  margin: 0 auto;
  clip: rect(0, 60vw, 10vw, 0);
  overflow: hidden
}

.custom-carousel
{
  height: 100%;
  width: 100%;
}

.custom-carousel>div
{
  margin: 0;
  position: absolute;
}

.custom-carousel>div>div
{
  text-align: center;
}

.carousel-visible
{
  background: green;
  width: 100%;
  height: 100%;
}

.carousel-left-queue
{
  background: red;
  width: 66.666%;
  height: 100%;
  right: 100%;
}

.carousel-right-queue
{
  background: blue;
  width: 66.666%;
  height: 100%;
  left: 100%;
}

.carousel-left-queue>div, 
.carousel-right-queue>div
{
  width: 50%;
  float: left;
}

.carousel-visible>div
{
  width: 33.333%;
  float: left;
}*/

.carousel-controls
{
  position: relative;
  top: 0;
}

.left_translate
{
  transform: translateX(66.666%);
  transition-duration: 1000ms;
}

.right_translate
{
  transform: translateX(-66.666%);
  transition-duration: 1000ms;
}

.middle_translate
{
  transform: translateX(0);
  transition-duration: 0;
}