<!--<div class="preloader-home">
  <div class="preloader-gif">

  </div>
</div>-->
<!--<div id="debug-info" style="display: block;">
</div>-->
<div id="header">
  <!--<nav class="navbar navbar-inverse navbar-fixed-top standard-navbar" id="gcs-navbar">-->
  <nav class="navbar navbar-inverse navbar-fixed-top original-navbar" id="gcs-navbar">
    <!--<div id="debug-toggle">
      <button type="button" class="btn btn-info">
        TOGGLE DEBUG
      </button>
    </div>-->
    <div class="container" id="header-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="img/gcs_logo_new.png" alt="GameCloud Logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
          <ul class="nav navbar-right navbar-nav col-sm-offset-6 text-uppercase">
            <li class="active"><a href="#header">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#gcs-services">Services</a></li>
            <!--<li><a href="#gcs-about">About</a></li>-->
            <li><a href="#gcs-portfolio">Portfolio</a></li>
            <li><a href="#gcs-team">Team</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <!--<li><a href="#jobs">Jobs</a></li>-->
            <li><button class="btn btn-link text-uppercase"><a href="./jobs">jobs</a></button></li>
          </ul>
        </div> <!-- row -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<gcs-backgrounds></gcs-backgrounds>

<!-- <div id="bottom"> -->
<gcs-splash></gcs-splash>  
<gcs-services></gcs-services>
<gcs-about></gcs-about>
<gcs-portfolio></gcs-portfolio>
<gcs-team></gcs-team>

  <div id="gcs-clients" class="gcs-bottom-section">
    <div class="container">
      <div class="row">
        <h3 class="text-center text-uppercase fadeout-left">The Company We Keep:</h3>
      </div> <!--row-->
      <div class="row">
        <p class="text-center fadeout-right">We are very pleased to have worked with these companies!</p>
      </div>
    </div>
  </div>

  <!--<div id="gcs-testimonials" class="gcs-bottom-section">
    <div class="container-fluid">
      <div class="row">
        <h3 class="text-center text-uppercase section-headline fadeout-right">Testimonials:</h3>
      </div> 
    </div>
    <div class="container-fluid carousel-container">
      <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-testimonials" data-slide-to="1"></li>
          <li data-target="#carousel-testimonials" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner container-fluid" role="listbox">
          <div class="item active">
            <div class="row testimonial-slide">
              <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/george.jpg" alt="">
                    <h5>George Takei</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/leonard.jpg" alt="">
                    <h5>Leonard Nimoy</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="item">
            <div class="row testimonial-slide">
              <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/aaron.jpg" alt="">
                    <h5>William Shatner</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/clark.jpg" alt="">
                    <h5>DeForest Kelley</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row testimonial-slide">
              <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/doug.jpg" alt="">
                    <h5>Patrick Stewart</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/duane.jpg" alt="">
                    <h5>Jonathan Frakes</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>-->

  <footer class="full-width foot gcs-bottom-section" id="contact-us">
    <div class="container">
      <!--<div class="row">-->
        <div class="row">
          <div col-xs-12>
            <h3 class="text-center text-uppercase section-headline fadeout-up">Contact Us</h3>
          </div>
        </div>
        <div class="row">
          <div class="fadeout-left fadein-early col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4">
            <h4>Murrieta, CA</h4>
            <p>Clark Seydel: <a href="tel:+1-202-360-5015">+1-202-360-5015</a></p>
            <p>25026 Las Brisas Rd, Ste A</p>
            <p>Murrieta, CA 92562</p>
          </div>
          <div class="fadeout-down fadein-early col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4">
            <h4>Shanghai, China</h4>
            <p>Phone: <a href="tel:+86-21-5131-4277">+86-21-5131-4277</a></p>
            <p>Fax: <a href="fax-global-phone:+86-21-5131-4278">+86-21-5131-4278</a></p>
            <p>1st Floor Building 17, No. 498</p>
            <p>Guoshoujing Road, 201203</p>
          </div>
          <div class="fadeout-right col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4">
            <h3></h3>
            <p>Email: <a href="mailto:info@gamecloudstudios.com" target="_blank">info@gamecloudstudios.com</a></p>
          </div>
        </div>
      <!--</div>-->
    </div>
  </footer>

  <div id="gcs-sitemap" class="gcs-bottom-section">
    <div class="container">
      <div class="row">
        <p class="text-center copyright">&copy; Copyright 2014 GameCloud Studios, Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
<!-- </div> -->
