<!--<div class="preloader-home">
  <div class="preloader-gif">

  </div>
</div>-->
<!--<div id="debug-info" style="display: block;">
</div>-->
<div id="header">
  <!--<nav class="navbar navbar-inverse navbar-fixed-top standard-navbar" id="gcs-navbar">-->
  <nav class="navbar navbar-inverse navbar-fixed-top original-navbar" id="gcs-navbar">
    <!--<div id="debug-toggle">
      <button type="button" class="btn btn-info">
        TOGGLE DEBUG
      </button>
    </div>-->
    <div class="container" id="header-container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./"><img src="img/gcs_logo_new.png" alt="GameCloud Logo"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="row">
          <ul class="nav navbar-right navbar-nav col-sm-offset-6 text-uppercase">
            <li class="active"><a href="#header">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#gcs-services">Services</a></li>
            <!--<li><a href="#gcs-about">About</a></li>-->
            <li><a href="#gcs-portfolio">Portfolio</a></li>
            <li><a href="#gcs-team">Team</a></li>
            <li><a href="#contact-us">Contact Us</a></li>
            <!--<li><a href="#jobs">Jobs</a></li>-->
            <li><button class="btn btn-link text-uppercase"><a href="./jobs">jobs</a></button></li>
          </ul>
        </div> <!-- row -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>

<gcs-backgrounds></gcs-backgrounds>

<!-- <div id="bottom"> -->
<gcs-splash></gcs-splash>  
<gcs-services></gcs-services>

  <section id="gcs-about" class="gcs-bottom-section">
    <div class="container">
      <div class="row">
        <div class="fadeout-left fadein-early col-xs-12 text-center">
          <h2>The best people making the best products</h2>
        </div>
        <!--<div class="col-xs-12 col-md-8 col-md-offset-2">
          <p>
            The new GameCloud Studio is headquartered in beautiful Murrieta, just a stone's throw from San Diego, Orange County and Los Angeles! Temecula is best known for its colorful hot air balloons, award winning wineries and championship golf courses settled in beautiful rolling hills. The city is just over 30 square miles on the north side of San Diego County offering a historic Downtown district, year-round entertainment and recreation, and an average temperature in the mid 70s. Our fine weather and artistic setting is perfect for...GAMES!
          </p>
        </div>   -->
      </div>
      <div class="row">
        <div class="fadeout-right fadein-early col-xs-12 text-center">
          <h2>Let&#39;s build something TOGETHER when you're ready</h2>
        </div>
        <!--<div class="col-xs-12 col-md-8 col-md-offset-2">
          <p>
            GameCloud Studios provides full service game development for approximately 50% of the cost of North American teams while maintaining equivalent quality and predictability. We simplify customer interaction with our North American leadership team which provides hands-on production, project management, design, art leadership, and engineering oversight. This is combined with the China cost structure and scale.
          </p>
          <p>
            The GameCloud teams have extensive experience with multi-cultural distributed development, and have established proven methodology to maximize efficiency. Our unique model offers us the ability to provide the best practices of East and West all the while maintaining rigorous checks and balances to ensure the highest quality delivery.
          </p>
          <p>
            The GameCloud developers all have experience with a variety of development methodologies. The leadership team will work with you to define the right process for your project.
          </p>
        </div>        -->
      </div>
    </div>
  </section>

  <div id="gcs-portfolio" class="gcs-bottom-section">
    <div class="container-fluid">
      <div class="row">
        <h3 class="text-center text-uppercase section-headline fadeout-right">Our Portfolio:</h3>
      </div> <!--row-->
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4">
          <div class="project-panel fadeout-left">
          <!-- <div class="project-panel tiny-size"> -->
            <img src="img/showstopper.jpg" alt="">
            <div class="tn-description">
              <h5>ShowStopper Basketball</h5>
              <p>(Facebook and iOS)</p>
              <p>Over 5M installs. iOS was distributed by DeNA. Sequel is under development to be self-published across FB, iOS, Android, WinMo, and Steam.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4">
          <!-- <div class="project-panel tiny-size"> -->
          <div class="project-panel fadeout-up">
            <img src="img/gridiron.jpg" alt="">
            <div class="tn-description">
              <h5>Pocket Gridiron</h5>
              <p>(iOS and Android)</p>
              <p>American football game published by DeNA.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4">
          <!-- <div class="project-panel tiny-size"> -->
          <div class="project-panel fadeout-right">
            <img src="img/epicgoal.jpg" alt="">
            <div class="tn-description">
              <h5>Epic Goal</h5>
              <p>GameCloud's first game and the #3 overall Facebook game for 2010 according to Inside Social Games. Published by Watercooler (now Kabam).</p>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4">
          <!-- <div class="project-panel tiny-size"> -->
          <div class="project-panel fadeout-left">
            <img src="img/educational.jpg" alt="">
            <div class="tn-description">
              <h5>Mutasia</h5>
              <p>
                (Flash)
              </p>
              <p>Educational game platform based on the common core curriculum in the US.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4">
          <!-- <div class="project-panel tiny-size"> -->
          <div class="project-panel fadeout-down">
            <img src="img/nightclub.jpg" alt="">
            <div class="tn-description">
              <h5>Nightclub City</h5>
              <p>(iOS and Android)</p>
              <p>Port of the Facebook game to DeNA's new platform.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-8 col-xs-offset-2 col-sm-offset-0 col-sm-6 col-md-4">
          <!-- <div class="project-panel tiny-size"> -->
          <div class="project-panel fadeout-right">
            <img src="img/onedirection.jpg" alt="">
            <div class="tn-description">
              <h5>One Direction Connect</h5>
              <p>(Platform)</p>
              <p>Platform and technology for scanning codes on retail merchandise to unlock items in the game.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- gcs-portfolio -->

  <div id="gcs-team" class="gcs-bottom-section">
    <div class="container">
      <div class="row">
        <h3 class="text-center text-uppercase section-headline fadeout-down">Leadership:</h3>
      </div> <!--row-->
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-4 col-md-offset-0">
          <div class="team-panel no-size">
            <img class="center-block" src="img/aaron.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">Aaron Baker</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>CEO</h6></div>
                <!-- <div class="col-xs-3"><a href="https://www.linkedin.com/in/ajbakerxml" target="_blank"><img src="img/linkedin-128.png" alt=""></a></div> -->
              </div>
              <div class="tp-description-content">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Aaron-Baker">
                  Click here for bio
                </button>

                <!-- Modal -->
                <div class="modal fade" id="bio-Aaron-Baker" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Aaron Baker - CEO</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://www.linkedin.com/in/ajbakerxml" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Baker has spent 23 years in the electronic entertainment industry, most recently as the CTO, Asia for Electronic Arts. Prior to joining EA in 2006, Mr. Baker was the CTO at Global VR building an award-winning product team and helping drive the company to over $20M in revenue creating coin-operated games from EA-licensed titles such as Madden NFL Football, Tiger Woods PGA Tour Golf and Need for Speed. Mr. Baker was educated at Stanford University, but left just prior to receiving his degree to start a game studio, WaveQuest, Inc. in 1993 where he built some of the first internet-based real-time multiplayer games.</p>
                        <ul><h6 class="text-uppercase">Prior Credits</h6>
                          <li>CTO, FIFA Online (PC). Hit game still generating over $100M/year, primarily in Asia</li>
                          <li>CTO, NBA Street Online (PC).</li>
                          <li>Group Technical Director, EA SPORTS World (Web). Cross-sport, cross-platform portal for EA SPORTS fans.</li>
                          <li>EP, PGA TOUR Golf Arcade (PC). Award-winning, very successful online-connected game.</li>
                          <li>EP, VR Vortek (VR/PC). One of the first commercially successful VR systems.</li>
                          <li>EP, Need for Speed Arcade (PC). Award winning sit-down arcade racing game.</li>
                          <li>EP, Madden NFL Football Arcade (PC).</li>
                          <li>Producer, Heat Wars (PC). One of the first real-time multiplayer internet games (mid-90s).</li>
                          <li>Producer, Alien Race (PC). One of the first real-time multiplayer internet and a launch title for Sega's Heat network.</li>
                          <li>Producer, Bronkie (SNES, PC). Award-winning video game for children with asthma.</li>
                          <li>Producer, Packy and Marlon (SNES). Award-winning video game for children with diabetes.</li>
                          <li>Producer, Rex Ronan (SNES). Award-winning video game to teach children about the risks of smoking.</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- tp-description-content -->
            </div>
          </div>
        </div>
        <!--</div>-->
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
          <div class="team-panel no-size">
            <img class="center-block" src="img/george.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">George Gaxiola</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>CTO</h6></div>
                <!-- <div class="col-xs-3 text-right"><a href="https://www.linkedin.com/in/ggaxiola" target="_blank"><img src="img/linkedin-128.png" alt=""></a></div> -->
              </div>
              <div class="tp-description-content">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-George-Gaxiola">
                  Click here for bio
                </button>

                <!-- Modal -->
                <div class="modal fade" id="bio-George-Gaxiola" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">George Gaxiola - CTO</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://www.linkedin.com/in/ggaxiola" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Gaxiola has spent 14 years in the games industry. Prior to joining GameCloud, he was the technical director at Global VR, making sure games like Tiger Woods PGA TOUR Golf and Madden NFL Football lived up to the brand promise, and leading development of the company&#39;s platform, allowing players from around the world to compete for cash prizes. He received his degree in Computer Science from Stanford University.</p>
                        <ul><h6 class="text-uppercase">Prior Credits</h6>
                          <li>SE, iMob (iOS). Machine Zone's first game.</li>
                          <li>TD, PGA TOUR Golf Arcade (PC). Award-winning, very successful online-connected game.</li>
                          <li>TD, VR Vortek (VR/PC). One of the first commercially successful VR systems.</li>
                          <li>TD, Need for Speed Arcade (PC). Award winning sit-down arcade racing game.</li>
                          <li>EP, VR Vortek (VR/PC). One of the first commercially successful VR systems.</li>
                          <li>EP, Need for Speed Arcade (PC). Award winning sit-down arcade racing game.</li>
                          <li>TD, Madden NFL Football Arcade (PC).</li>
                          <li>TD, NASCAR Racing Arcade (PC).</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-md-4 col-md-offset-0">
          <div class="team-panel no-size">
            <img class="center-block" src="img/clark.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">Clark Seydel</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>VP</h6></div>
                <!-- <div class="col-xs-3 text-right"><a href="https://www.linkedin.com/in/clark-seydel-58618311" target="_blank"><img src="img/linkedin-128.png" alt=""></a></div> -->
              </div>
              <div class="tp-description-content">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Clark-Seydel">
                  Click here for bio
                </button>

                <!-- Modal -->
                <div class="modal fade" id="bio-Clark-Seydel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Clark Seydel - VP</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://www.linkedin.com/in/clark-seydel-58618311" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Seydel joined GameCloud after co-Founding the Collective, a platform for entrepreneurs and venture capitalists to achieve social good. Prior to that he was with the Chemol Company where he initiated 30M+ in sales. With a degree from George Mason, and experience at the United Nations Foundation, Mr. Seydel is focused on account management, licensing and business development.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- row -->
      <!--<div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
          <div class="team-panel no-size">
            <img class="center-block" src="img/doug.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">Doug Glen</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>Advisor</h6></div>
              </div>

              <div class="tp-description-content">
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Doug-Glen">
                  Click here for bio
                </button>

                <div class="modal fade" id="bio-Doug-Glen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Doug Glen - Advisor</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://hk.linkedin.com/in/doug-glen-a4710" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Glen has spent the past thirty-five years in the media and entertainment industry, as an entrepreneur, operating executive, and venture capitalist. Currently, he resides in Hong Kong where he is a hands-on angel investor, serving as chairman, executive director, or interim C-officer of each of his portfolio companies.  Previously, Doug was CEO of Imagi Studios, CEO of Lion Digital Pictures, Chief Strategy Officer of Mattel Toys, President of the Mattel Media division, Group Vice President of marketing and business development for Sega of America, General Manager of LucasArts Entertainment, founding director of video game startup Harmonix Music Systems (developer of Guitar Hero and Rock Band), and managing partner of ProVen Private equity. After completing his undergraduate studies at the Massachusetts Institute of Technology, he co-founded an advertising agency specializing in consumer technology accounts.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-md-4 col-md-offset-0">
          <div class="team-panel no-size">
            <img class="center-block" src="img/sheri.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase team-name">Sheri Sletten</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>Director of Operations</h6></div>
              </div>

              <div class="tp-description-content">
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Sheri-Sletten">
                  Click here for bio
                </button>

                <div class="modal fade" id="bio-Sheri-Sletten" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Sheri Sletten - Director of Operations</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://www.linkedin.com/in/sheri-sletten-990ba253" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mrs. Sletten joined the GameCloud Studios team after 6 yrs in the Real Estate Industry followed by 7 yrs in the Staffing Industry. With a broad background in Office Management, Business Development and HR/Talent Management she has become an asset to our team. Her years of staffing in the IT Industry brings unmatched value to the growth we are doing. As a former Division Director at Robert Half, one of the nations leading staffing firms, and Director of IT/ Creative Services for a San Diego based firm, she has the experience behind her to take our company to the next level.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
          <div class="team-panel no-size">
            <img class="center-block" src="img/leonard.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">Dr. Leonard Liu</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>Chairman</h6></div>
              </div>
              <div class="tp-description-content">

                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Leonard-Liu">
                  Click here for bio
                </button>

                <div class="modal fade" id="bio-Leonard-Liu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Dr. Leonard Liu - Chairman</h4>
                        <div class="modal-header-social-links">
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Dr. Liu has spent 40 years in the systems industry, with a history of developing innovative computing technologies into successful businesses. He has played key roles in the development of the PC, enterprise software and semiconductor industries. Most recently, he served as president of ASE Group, a provider of IC test and packaging services, having held roles as Chairman and CEO of Walker Interactive Systems, COO of Cadence Design Systems, and President of Acer Group. He has been a champion of globally distributed software development for decades. Dr. Liu began his career at IBM where he was responsible for the creation and implementation of SQL and the management of CICS, SNA, and AIX, eventually overseeing the worldwide Database and Language lines-of-business. He received his undergraduate degree from Taiwan University and his Ph.D. from Princeton University.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
          <div class="team-panel no-size">
            <img class="center-block" src="img/barry.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">Barry Dorf</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>Head of Publishing</h6></div>
              </div>
              <div class="tp-description-content">
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Barry-Dorf">
                  Click here for bio
                </button>

                <div class="modal fade" id="bio-Barry-Dorf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Barry Dorf - Head of Publishing</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://www.linkedin.com/in/barrydorf" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Dorf was the VP, Partnerships at DeNA, owning their Apple/Google relationship and key developer relationships. Prior to his six years at DeNA he was the Co-founder and COO for GameStrata, a VC-backed social networking site for console gaming, focused on deep analytics. Mr. Dorf was also spent a decade as a Producer at Electronic Arts and Pogo, including being the liaison between EA SPORTS and the NFL, NFLPA, MLB, MLBPA and PGA TOUR. He built EA&#39;s fantasy sports business. Mr. Dorf is currently an Advisor to the company and is looking to join full-time upon funding to expand our publishing capability.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-md-4 col-md-offset-0">
          <div class="team-panel no-size">
            <img class="center-block" src="img/ghost.png" alt="">
            <div class="text-center">
              <h5 class="text-uppercase team-name">Victor Ramirez</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>Producer</h6></div>
              </div>
              <div class="tp-description-content">
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Victor-Ramirez">
                  Click here for bio
                </button>

                <div class="modal fade" id="bio-Victor-Ramirez" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Victor Ramirez - Producer</h4>
                        <div class="modal-header-social-links">
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Ramirez has spent over twenty years in the industry, most recently as a Producer at Bally. Prior to this he was at THQ and Sony Online in a variety of roles. His diverse management experience covers the span from Project Management, Production and QA, across mobile, MMOs, and console games.</p>
                        <ul><h6 class="text-uppercase">Prior Credits</h6>
                          <li>Producer, Disney*Pixar Cars: Race-O-Rama (PS3, PS2, X360, Wii), Betty Boop's Fifth Avenue (Video Slots), Wonder Woman (Video Slots), Chinese Zodiac (Video Slots), Gozen (Video Slots), Lady Robin Hood (Video Slots), Wild Rose (Video Slots), Wild Lotus (Video Slots), Havana Cubana (Video Slots)</li>
                          <li>AP: SpongeBob SquarePants: Globs of Doom(PS3, PS2, X360, Wii), MX vs. ATV Untamed (PS3, PS2, X360, Wii),  Disney*Pixar Cars: Mater-National Championship</li>
                          <li>Live Ops (MMO): Star Wars Galaxies, EverQuest II, EverQuest, PlanetSide</li>
                          <li>QA: Tanarus, Rally Cross</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
          <div class="team-panel no-size">
            <img class="center-block" src="img/kenneth.jpg" alt="">
            <div class="text-center">
              <h5 class="text-uppercase">Kenneth J. Holm</h5>
            </div>
            <div class="tp-description">
              <div class="tp-description-header row">
                <div class="text-center"><h6>Producer</h6></div>
              </div>
              <div class="tp-description-content">
                <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Kenneth-Holm">
                  Click here for bio
                </button>

                <div class="modal fade" id="bio-Kenneth-Holm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-uppercase" id="myModalLabel">Kenneth J. Holm - Producer</h4>
                        <div class="modal-header-social-links">
                          <span><a href="https://www.linkedin.com/in/kenneth-holm-07119b1" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                        </div>
                      </div>
                      <div class="modal-body">
                        <p>Mr. Holm is a 25-year industry vet, coming from EA Mobile where he spent the last five years as the producer for the Future Tech group. He is a design-focused producer, with a huge number of shipped mobile titles. Prior to EA he was a Senior Designer at Bandai Namco focused on mobile titles, following a five-year stint producing the Gauntlet franchise at Atari. Mr. Holm will be joining GameCloud full-time in March 2016.</p>
                        <ul><h6 class="text-uppercase">Prior Credits</h6>
                          <li>Producer (Windows Mobile): Connect 4, Monopoly, Monopoly Millionaire, Sims 3, Need for Speed Undercover</li>
                          <li>Development Director (Windows Mobile): Sims FreePlay, Tiger Woods, Tetris, Tetris Blitz, Bejeweled, Bejeweled live +, The game of Life,Need for Speed hot pursuit, Real Racing 2, NBA Jam, Yahtzee, Zumas revenge, Mass Effect Infiltrator, Risk,  FIFA 13, Contre Jour, Parking Mania, Plants vs Zombies, Feed me oil, The sims Medieval. Little Acorns, Blobster, daVinci Pinball, Roll in the Hole, Flight Control Rocket, Dream Track Nation, Tiny Plane, Jet Set Go, Picnic Wars, Storm in a teacup, Spider Jack, Vampire Rush</li>
                          <li>Live Ops Producer (iOS): Yahtzee, Monopoly, The Game of Life, Boggle, Plants vs Zombie F2P</li>
                          <li>Producer (Xfinity Streaming): Tiger Woods, Dead Space, Real Racing, FIFA</li>
                          <li>Producer (Misc): Tetris (PSN), Need for Speed Nitro (NDS), Mirrors Edge (Samsung TV)</li>
                          <li>Design Director (iOS and Android): Dilberts Cubicle Chaos, Betty Boop Movie mixup, The Wolfman, Worst case scenario, Scene it TV, Snoopy the Flying Ace, Harvest Moon, Ridge Racer</li>
                          <li>Lead Designer, Bronkie (SNES, PC). Award-winning video game for children with asthma.</li>
                          <li>Lead Designer, Packy and Marlon (SNES). Award-winning video game for children with diabetes.</li>
                        </ul>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div> <!-- gcs-team -->

  <div id="gcs-clients" class="gcs-bottom-section">
    <div class="container">
      <div class="row">
        <h3 class="text-center text-uppercase fadeout-left">The Company We Keep:</h3>
      </div> <!--row-->
      <div class="row">
        <p class="text-center fadeout-right">We are very pleased to have worked with these companies!</p>
      </div>
    </div>
  </div>

  <!--<div id="gcs-testimonials" class="gcs-bottom-section">
    <div class="container-fluid">
      <div class="row">
        <h3 class="text-center text-uppercase section-headline fadeout-right">Testimonials:</h3>
      </div> 
    </div>
    <div class="container-fluid carousel-container">
      <div id="carousel-testimonials" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-testimonials" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-testimonials" data-slide-to="1"></li>
          <li data-target="#carousel-testimonials" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner container-fluid" role="listbox">
          <div class="item active">
            <div class="row testimonial-slide">
              <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/george.jpg" alt="">
                    <h5>George Takei</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/leonard.jpg" alt="">
                    <h5>Leonard Nimoy</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="item">
            <div class="row testimonial-slide">
              <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/aaron.jpg" alt="">
                    <h5>William Shatner</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/clark.jpg" alt="">
                    <h5>DeForest Kelley</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row testimonial-slide">
              <div class="col-xs-12 col-md-offset-1 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/doug.jpg" alt="">
                    <h5>Patrick Stewart</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-5">
                <div class="row">
                  <div class="test-pic text-center col-xs-4 col-md-offset-2 col-md-8">
                    <img src="img/duane.jpg" alt="">
                    <h5>Jonathan Frakes</h5>
                  </div>
                  <div class="test-text col-xs-7 col-md-offset-1 col-md-10">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et mi fringilla, malesuada nisl ut, imperdiet est. Integer id ipsum lacus. Nam ultricies eros vel leo pellentesque eleifend. In porttitor nisi at feugiat vulputate. Maecenas ultrices imperdiet ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>-->

  <footer class="full-width foot gcs-bottom-section" id="contact-us">
    <div class="container">
      <!--<div class="row">-->
        <div class="row">
          <div col-xs-12>
            <h3 class="text-center text-uppercase section-headline fadeout-up">Contact Us</h3>
          </div>
        </div>
        <div class="row">
          <div class="fadeout-left fadein-early col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4">
            <h4>Murrieta, CA</h4>
            <p>Clark Seydel: <a href="tel:+1-202-360-5015">+1-202-360-5015</a></p>
            <p>25026 Las Brisas Rd, Ste A</p>
            <p>Murrieta, CA 92562</p>
          </div>
          <div class="fadeout-down fadein-early col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4">
            <h4>Shanghai, China</h4>
            <p>Phone: <a href="tel:+86-21-5131-4277">+86-21-5131-4277</a></p>
            <p>Fax: <a href="fax-global-phone:+86-21-5131-4278">+86-21-5131-4278</a></p>
            <p>1st Floor Building 17, No. 498</p>
            <p>Guoshoujing Road, 201203</p>
          </div>
          <div class="fadeout-right col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5 col-md-offset-0 col-md-4">
            <h3></h3>
            <p>Email: <a href="mailto:info@gamecloudstudios.com" target="_blank">info@gamecloudstudios.com</a></p>
          </div>
        </div>
      <!--</div>-->
    </div>
  </footer>

  <div id="gcs-sitemap" class="gcs-bottom-section">
    <div class="container">
      <div class="row">
        <p class="text-center copyright">&copy; Copyright 2014 GameCloud Studios, Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
<!-- </div> -->
