<div class="container">
  <div class="row">
    <h3 class="text-center text-uppercase section-headline fadeout-down">Leadership:</h3>
  </div> <!--row-->
  <div class="row">
    <div gcs-team-member *ngFor="let member of gcs_team" [team_member]="member"></div>
  </div> <!-- row -->
  <!--<div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
      <div class="team-panel no-size">
        <img class="center-block" src="img/doug.jpg" alt="">
        <div class="text-center">
          <h5 class="text-uppercase">Doug Glen</h5>
        </div>
        <div class="tp-description">
          <div class="tp-description-header row">
            <div class="text-center"><h6>Advisor</h6></div>
          </div>

          <div class="tp-description-content">
            <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Doug-Glen">
              Click here for bio
            </button>

            <div class="modal fade" id="bio-Doug-Glen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-uppercase" id="myModalLabel">Doug Glen - Advisor</h4>
                    <div class="modal-header-social-links">
                      <span><a href="https://hk.linkedin.com/in/doug-glen-a4710" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>Mr. Glen has spent the past thirty-five years in the media and entertainment industry, as an entrepreneur, operating executive, and venture capitalist. Currently, he resides in Hong Kong where he is a hands-on angel investor, serving as chairman, executive director, or interim C-officer of each of his portfolio companies.  Previously, Doug was CEO of Imagi Studios, CEO of Lion Digital Pictures, Chief Strategy Officer of Mattel Toys, President of the Mattel Media division, Group Vice President of marketing and business development for Sega of America, General Manager of LucasArts Entertainment, founding director of video game startup Harmonix Music Systems (developer of Guitar Hero and Rock Band), and managing partner of ProVen Private equity. After completing his undergraduate studies at the Massachusetts Institute of Technology, he co-founded an advertising agency specializing in consumer technology accounts.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-4 col-md-offset-0">
      <div class="team-panel no-size">
        <img class="center-block" src="img/sheri.jpg" alt="">
        <div class="text-center">
          <h5 class="text-uppercase team-name">Sheri Sletten</h5>
        </div>
        <div class="tp-description">
          <div class="tp-description-header row">
            <div class="text-center"><h6>Director of Operations</h6></div>
          </div>

          <div class="tp-description-content">
            <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Sheri-Sletten">
              Click here for bio
            </button>

            <div class="modal fade" id="bio-Sheri-Sletten" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-uppercase" id="myModalLabel">Sheri Sletten - Director of Operations</h4>
                    <div class="modal-header-social-links">
                      <span><a href="https://www.linkedin.com/in/sheri-sletten-990ba253" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>Mrs. Sletten joined the GameCloud Studios team after 6 yrs in the Real Estate Industry followed by 7 yrs in the Staffing Industry. With a broad background in Office Management, Business Development and HR/Talent Management she has become an asset to our team. Her years of staffing in the IT Industry brings unmatched value to the growth we are doing. As a former Division Director at Robert Half, one of the nations leading staffing firms, and Director of IT/ Creative Services for a San Diego based firm, she has the experience behind her to take our company to the next level.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
      <div class="team-panel no-size">
        <img class="center-block" src="img/leonard.jpg" alt="">
        <div class="text-center">
          <h5 class="text-uppercase">Dr. Leonard Liu</h5>
        </div>
        <div class="tp-description">
          <div class="tp-description-header row">
            <div class="text-center"><h6>Chairman</h6></div>
          </div>
          <div class="tp-description-content">

            <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Leonard-Liu">
              Click here for bio
            </button>

            <div class="modal fade" id="bio-Leonard-Liu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-uppercase" id="myModalLabel">Dr. Leonard Liu - Chairman</h4>
                    <div class="modal-header-social-links">
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>Dr. Liu has spent 40 years in the systems industry, with a history of developing innovative computing technologies into successful businesses. He has played key roles in the development of the PC, enterprise software and semiconductor industries. Most recently, he served as president of ASE Group, a provider of IC test and packaging services, having held roles as Chairman and CEO of Walker Interactive Systems, COO of Cadence Design Systems, and President of Acer Group. He has been a champion of globally distributed software development for decades. Dr. Liu began his career at IBM where he was responsible for the creation and implementation of SQL and the management of CICS, SNA, and AIX, eventually overseeing the worldwide Database and Language lines-of-business. He received his undergraduate degree from Taiwan University and his Ph.D. from Princeton University.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
      <div class="team-panel no-size">
        <img class="center-block" src="img/barry.jpg" alt="">
        <div class="text-center">
          <h5 class="text-uppercase">Barry Dorf</h5>
        </div>
        <div class="tp-description">
          <div class="tp-description-header row">
            <div class="text-center"><h6>Head of Publishing</h6></div>
          </div>
          <div class="tp-description-content">
            <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Barry-Dorf">
              Click here for bio
            </button>

            <div class="modal fade" id="bio-Barry-Dorf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-uppercase" id="myModalLabel">Barry Dorf - Head of Publishing</h4>
                    <div class="modal-header-social-links">
                      <span><a href="https://www.linkedin.com/in/barrydorf" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>Mr. Dorf was the VP, Partnerships at DeNA, owning their Apple/Google relationship and key developer relationships. Prior to his six years at DeNA he was the Co-founder and COO for GameStrata, a VC-backed social networking site for console gaming, focused on deep analytics. Mr. Dorf was also spent a decade as a Producer at Electronic Arts and Pogo, including being the liaison between EA SPORTS and the NFL, NFLPA, MLB, MLBPA and PGA TOUR. He built EA&#39;s fantasy sports business. Mr. Dorf is currently an Advisor to the company and is looking to join full-time upon funding to expand our publishing capability.</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-4 col-md-offset-0">
      <div class="team-panel no-size">
        <img class="center-block" src="img/ghost.png" alt="">
        <div class="text-center">
          <h5 class="text-uppercase team-name">Victor Ramirez</h5>
        </div>
        <div class="tp-description">
          <div class="tp-description-header row">
            <div class="text-center"><h6>Producer</h6></div>
          </div>
          <div class="tp-description-content">
            <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Victor-Ramirez">
              Click here for bio
            </button>

            <div class="modal fade" id="bio-Victor-Ramirez" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-uppercase" id="myModalLabel">Victor Ramirez - Producer</h4>
                    <div class="modal-header-social-links">
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>Mr. Ramirez has spent over twenty years in the industry, most recently as a Producer at Bally. Prior to this he was at THQ and Sony Online in a variety of roles. His diverse management experience covers the span from Project Management, Production and QA, across mobile, MMOs, and console games.</p>
                    <ul><h6 class="text-uppercase">Prior Credits</h6>
                      <li>Producer, Disney*Pixar Cars: Race-O-Rama (PS3, PS2, X360, Wii), Betty Boop's Fifth Avenue (Video Slots), Wonder Woman (Video Slots), Chinese Zodiac (Video Slots), Gozen (Video Slots), Lady Robin Hood (Video Slots), Wild Rose (Video Slots), Wild Lotus (Video Slots), Havana Cubana (Video Slots)</li>
                      <li>AP: SpongeBob SquarePants: Globs of Doom(PS3, PS2, X360, Wii), MX vs. ATV Untamed (PS3, PS2, X360, Wii),  Disney*Pixar Cars: Mater-National Championship</li>
                      <li>Live Ops (MMO): Star Wars Galaxies, EverQuest II, EverQuest, PlanetSide</li>
                      <li>QA: Tanarus, Rally Cross</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-0 col-md-4">
      <div class="team-panel no-size">
        <img class="center-block" src="img/kenneth.jpg" alt="">
        <div class="text-center">
          <h5 class="text-uppercase">Kenneth J. Holm</h5>
        </div>
        <div class="tp-description">
          <div class="tp-description-header row">
            <div class="text-center"><h6>Producer</h6></div>
          </div>
          <div class="tp-description-content">
            <button type="button" class="btn btn-default btn-lg center-block" data-toggle="modal" data-target="#bio-Kenneth-Holm">
              Click here for bio
            </button>

            <div class="modal fade" id="bio-Kenneth-Holm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title text-uppercase" id="myModalLabel">Kenneth J. Holm - Producer</h4>
                    <div class="modal-header-social-links">
                      <span><a href="https://www.linkedin.com/in/kenneth-holm-07119b1" target="_blank"><img src="img/linkedin-128.png" alt=""></a></span>
                    </div>
                  </div>
                  <div class="modal-body">
                    <p>Mr. Holm is a 25-year industry vet, coming from EA Mobile where he spent the last five years as the producer for the Future Tech group. He is a design-focused producer, with a huge number of shipped mobile titles. Prior to EA he was a Senior Designer at Bandai Namco focused on mobile titles, following a five-year stint producing the Gauntlet franchise at Atari. Mr. Holm will be joining GameCloud full-time in March 2016.</p>
                    <ul><h6 class="text-uppercase">Prior Credits</h6>
                      <li>Producer (Windows Mobile): Connect 4, Monopoly, Monopoly Millionaire, Sims 3, Need for Speed Undercover</li>
                      <li>Development Director (Windows Mobile): Sims FreePlay, Tiger Woods, Tetris, Tetris Blitz, Bejeweled, Bejeweled live +, The game of Life,Need for Speed hot pursuit, Real Racing 2, NBA Jam, Yahtzee, Zumas revenge, Mass Effect Infiltrator, Risk,  FIFA 13, Contre Jour, Parking Mania, Plants vs Zombies, Feed me oil, The sims Medieval. Little Acorns, Blobster, daVinci Pinball, Roll in the Hole, Flight Control Rocket, Dream Track Nation, Tiny Plane, Jet Set Go, Picnic Wars, Storm in a teacup, Spider Jack, Vampire Rush</li>
                      <li>Live Ops Producer (iOS): Yahtzee, Monopoly, The Game of Life, Boggle, Plants vs Zombie F2P</li>
                      <li>Producer (Xfinity Streaming): Tiger Woods, Dead Space, Real Racing, FIFA</li>
                      <li>Producer (Misc): Tetris (PSN), Need for Speed Nitro (NDS), Mirrors Edge (Samsung TV)</li>
                      <li>Design Director (iOS and Android): Dilberts Cubicle Chaos, Betty Boop Movie mixup, The Wolfman, Worst case scenario, Scene it TV, Snoopy the Flying Ace, Harvest Moon, Ridge Racer</li>
                      <li>Lead Designer, Bronkie (SNES, PC). Award-winning video game for children with asthma.</li>
                      <li>Lead Designer, Packy and Marlon (SNES). Award-winning video game for children with diabetes.</li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>